:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  padding: 0 !important;
}

body {
  display: flex;
  place-items: center;
  margin: 0 auto;
}

a {
  text-decoration: none;
  font-weight: bold;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.theme-polkadot-relay {
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid black;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 1px auto -webkit-focus-ring-color;
}

ul li {
  list-style: none;
}

/// LIGHT
.theme-light :root {
  --accent-color-primary: var(--accent-color-primary-light);
}

.theme-light {
  background-color: #eee;
}

.theme-light button {
  background-color: var(--background-dark);
  border: 1 px solid black;
  color: var(--background-dark);
}

.theme-light h1 {
  color: var(--accent-color-primary-light);
}

.theme-light h3 {
  color: var(--accent-color-primary-light);
}

.theme-light a {
  color: var(--accent-color-secondary-dark);
}

.theme-light ul li {
  color: black;
}

/// DARK
.theme-dark :root {
  --accent-color-primary: var(--accent-color-primary-dark);
}

.theme-dark {
  background-color: #1b1616;
}

.theme-dark h1 {
  color: var(--accent-color-secondary-dark);
}

.theme-dark h3 {
  color: var(--accent-color-secondary-dark);
}

.theme-dark button {
  background-color: var(--background);
  border: 1px solid var(--accent-color-secondary-dark);
  color: white;
}

.theme-dark ul li {
  color: white;
}

.theme-dark a {
  color: white;
}
